<div class="container my-4">
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Ponedeljak</th>
                <th>Utorak</th>
                <th>Srijeda</th>
                <th>Četvrtak</th>
                <th>Petak</th>
            </tr>
        </thead>
        <tbody class="table-success">
            <tr><td *ngFor="let i of [0,1,2,3,4]">09:00</td></tr>
            <tr><td *ngFor="let i of [0,1,2,3,4]">09:30</td></tr>
            <tr><td *ngFor="let i of [0,1,2,3,4]">10:00</td></tr>
            <tr><td *ngFor="let i of [0,1,2,3,4]">10:30</td></tr>
            <tr><td *ngFor="let i of [0,1,2,3,4]">11:00</td></tr>
            <tr><td *ngFor="let i of [0,1,2,3,4]">11:30</td></tr>
            <tr><td *ngFor="let i of [0,1,2,3,4]">12:00</td></tr>
            <tr><td *ngFor="let i of [0,1,2,3,4]">12:30</td></tr>
            <tr><td *ngFor="let i of [0,1,2,3,4]">13:00</td></tr>
            <tr><td *ngFor="let i of [0,1,2,3,4]">13:30</td></tr>
        </tbody>
    </table>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Zakaži termin u ________ u --:--</h5>
          <textarea class="form-control" rows="3" placeholder="Upišite napomenu"></textarea>
          <button (click)="confirmAppointment()" class="btn btn-primary mt-2">Potvrdi</button>
        </div>
      </div>
</div>
