:host {
    display: block;
    height: calc(100vh - 87px);
    background-image: url("./../../../assets/img/landing-page-background.jpg");
    background-position: center;
    background-size: cover;
}
.login {
    width: 500px;
    height: 330px;
    border: 1px solid #9C9C9C;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 6px;
    position: relative;
    top: 45%;
    left: 75%;
    transform: translate(-75%, -50%);
}
.btn-block {
    width: 100%;
}

@media (max-width: 991px) {
    :host {
        background-position: right;
    }
    .login {
        width: 100%;
        position: relative;
        width: 330px;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
    }
}