<div class="login shadow">
    <form #form="ngForm" (submit)="loginUser(form.value)">
        <h3 class="text-center mt-2">{{ 'login' | translate }}</h3>
        <div class="form-group first-input">
            <label>{{ 'email_address' | translate }}:</label>
            <input type="email" class="form-control" name="mailAdresa" autocomplete="off" spellcheck="false" ngModel>
        </div>
        <div class="form-group mt-2">
            <label>{{ 'password' | translate }}:</label>
            <input type="password" class="form-control" name="lozinka" ngModel>
        </div>
        <div class="form-group form-check mt-2">
            <input type="checkbox" id="checkbox-input" class="form-check-input" name="rememberme" ngModel>
            <label for="checkbox-input">{{ 'remember_me' | translate }}</label>
        </div>
        <button class="btn btn-primary btn-block mt-1">{{ 'continue' | translate }}</button>
    </form>
</div>

<div *ngIf="isForgotPasswordModalOpen" class="modal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" (click)="closeForgotPasswordModal()" aria-label="Close">
