:host {
    display: block;
    height: calc(100vh - 73px);
    background-image: url("./../../../assets/img/index-page-background.jpg");
    background-position: center;
    background-size: cover;
}
.login {
    width: 500px;
    height: 330px;
    background-color: rgba(20, 20, 100, 0.4);
    color: white;
    padding: 20px;
    position: relative;
    top: 45%;
    left: 75%;
    transform: translate(-75%, -50%);
}
.first-input {
    margin-top: 10px;
}
label {
    font-weight: 500;
}

@media (max-width: 991px) {
    :host {
        background-position: right;
    }
    .login {
        width: 330px;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
    }
    .first-input {
        margin-top: 15px;
    }
}
