<div class="container">
  <div class="my-5 row d-flex flex-row justify-content-around">
    <img *ngIf="!image" class="thumbnail rounded shadow mx-4 col-8" src="./../../../assets/img/no-image-avabliable.jpg" alt="{{ 'image' | translate }}">
    <img *ngIf="image" class="thumbnail rounded shadow mx-4 col-8" [src]="image" alt="{{ 'image' | translate }}">
    <div class="mx-4 mt-2 col">
      <form #loginForm="ngForm" (ngSubmit)="AddMedication(loginForm.value)">
        <div class="mx-1">
          <input type="file" id="imageInput" class="form-control mt-2" (change)="onFileSelected($event)">
          <input class="form-control mt-2" placeholder="{{ 'medication_name' | translate }}" name="naziv" ngModel autocomplete="off">
          <textarea class="form-control mt-2" rows="3" placeholder="{{ 'medication_description' | translate }}" name="opis" ngModel></textarea>
          <div class="inline-input-group mt-2">
            <label for="cijena">{{ 'medication_price' | translate }}: </label>
            <input type="number" id="cijena" class="form-control inline-input" name="cijena" ngModel>
            <label for="kolicina">{{ 'quantity' | translate }}: </label>
            <input type="number" id="kolicina" class="form-control inline-input" name="kolicina" ngModel>
          </div>
          <div class="form-check mt-2">
            <input type="checkbox" id="checkbox" class="form-check-input" name="zahtijevaRecept" ngModel>
            <label for="checkbox">{{ 'requires_prescription' | translate }}</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-2">{{ 'confirm' | translate }}</button>
      </form>
    </div>
  </div>
</div>
