<app-filter
    placeholder1="Naziv lijeka"
    placeholder2="Opis lijeka"
    link1=""
    link2="/gradovi/search/"
    searchUrl="/pretrazi"
    (searchOptions)="getSearchResults($any($event))"
></app-filter>
<div class="container">
    <app-item-list *ngFor="let i of res"
        name="{{i.nazivLijeka}}"
        description="{{i.opisLijeka}}"
        price="10KM"
        btnText="Uredi lijek"
    ></app-item-list>
</div>
<ul class="pagination mt-3 mb-4">
    <li class="page-item"><a class="page-link"><span>&laquo;</span></a></li>
    <li class="page-item"><a class="page-link">1</a></li>
    <li class="page-item"><a class="page-link">2</a></li>
    <li class="page-item"><a class="page-link">3</a></li>
    <li class="page-item"><a class="page-link">4</a></li>
    <li class="page-item"><a class="page-link">5</a></li>
    <li class="page-item"><a class="page-link"><span>&raquo;</span></a></li>
</ul>
