<div class="container">
  <div class="my-4 main">
    <div class="items">
      <h4>Vaša korpa</h4>
      <p>Trenutno imate X lijekova za poručiti</p>
      <hr>
      <app-item-list *ngFor="let i of [0,1,2,3,4]"
        name="Naziv Lijeka"
        description="Opis Lijeka. Opis Lijeka. Opis Lijeka. Opis Lijeka."
        price="10KM"
      ></app-item-list>
    </div>
    <div class="card-details card text-white bg-secondary mt-4 shadow-lg"> 
      <form>
        <div class="card-body">
          <h5>Detalji narudžbe</h5>
          <hr>
          <div class="form-group mb-2">
            <label>Ime i prezime:</label>
            <input type="text" class="form-control shadow-sm">
          </div>
          <div class="form-group mb-2">
            <label>Telefonski broj:</label>
            <input type="text" class="form-control shadow-sm">
          </div>
          <div class="form-group mb-2">
            <label>Grad:</label>
            <input type="text" class="form-control shadow-sm">
          </div>
          <div class="form-group mb-2">
            <label>Adresa stanovanja:</label>
            <input type="text" class="form-control shadow-sm">
          </div>
          <hr>
          <div class="card-column">
            <p class="mb-2">Ukupna cijena lijekova:</p>
            <p class="mb-2">10KM</p>
          </div>
          <div class="card-column">
            <p class="mb-2">Dostava:</p>
            <p class="mb-2">2KM</p>
          </div>
          <div class="card-column">
            <p class="mb-2">Ukupno cijena lijekova i dostave:</p>
            <p class="mb-2">12KM</p>
          </div>
          <button class="btn btn-primary btn-lg btn-block mt-2">Potvrdi narudžbu</button>
        </div>
      </form>
    </div>
  </div>
</div>