<div class="container">
  <div class="my-5 main">
    <div class="items">
      <h4>Vaša korpa</h4>
      <p>Trenutno imate {{ narudzbe.length }} lijekova za poručiti</p>
      <hr>
      <app-item-list *ngFor="let i of narudzbe"
        [img]="i.slika || './../../../assets/img/no-image-avabliable.jpg'"
        [name]="i.naziv"
        [description]="i.nazivUstanove"
        [price]="i.cijena + 'KM'"
        btnText="Ukloni iz korpe"
        (btnClick)="removeOrder(i.narudzbaId)"
      >
      </app-item-list>
    </div>
    <div class="card-details card bg-primary mt-4 shadow-lg">
      <form #loginForm="ngForm">
        <div class="card-body">
          <h5>Detalji narudžbe</h5>
          <hr>
          <div class="form-group mb-2">
            <label class="mx-1">Ime i prezime:</label>
            <input type="text" class="form-control shadow-sm" name="imePrezime" [(ngModel)]="korisnik.imePrezime" autocomplete="off" spellcheck="false" required>
          </div>
          <label class="mx-1">Grad:</label>
          <select class="form-select mb-2" name="grad" [(ngModel)]="korisnik.grad" autocomplete="off" spellcheck="false" required>
            <option *ngFor="let i of gradovi" [selected]="i.naziv == korisnik.grad">{{ i.naziv }}</option>
          </select>
          <div class="form-group mb-2">
            <label class="mx-1">Adresa stanovanja:</label>
            <input type="text" class="form-control shadow-sm" name="adresa" [(ngModel)]="korisnik.adresa" autocomplete="off" spellcheck="false" required ngModel>
          </div>
          <div class="form-group mb-2">
            <label class="mx-1">Email adresa:</label>
            <input type="email" class="form-control shadow-sm" name="mailAdresa" [(ngModel)]="korisnik.mailAdresa" autocomplete="off" spellcheck="false" required ngModel>
          </div>
          <div class="form-group mb-2">
            <label class="mx-1">Broj Telefona:</label>
            <input type="text" class="form-control shadow-sm" name="brojTelefona" [(ngModel)]="korisnik.brojTelefona" autocomplete="off" spellcheck="false" required>
          </div>
          <hr>
          <div class="card-column">
            <p class="mb-2 mx-1">Ukupna cijena lijekova:</p>
            <p class="mb-2 mx-1">{{ sumPrice() }} KM</p>
          </div>
          <div class="card-column">
            <p class="mb-2 mx-1">Cijena dostave:</p>
            <p class="mb-2 mx-1">{{ deliveryPrice() }} KM</p>
          </div>
          <div class="card-column">
            <p class="mb-2 mx-1">Ukupna cijena lijekova i dostave:</p>
            <p class="mb-2 mx-1">{{ sumPrice() + deliveryPrice() }} KM</p>
          </div>
          <button type="button" class="btn btn-primary btn-lg btn-block mt-2" (click)="showModal = true">Potvrdi narudžbu</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-modal
  *ngIf="showModal"
  (closeModal)="showModal = false"
  (onSubmit)="confirmOrder(loginForm.value)"
></app-modal>
