.modal {
    display: block;
    padding-top: 20px;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1002;
}
.modal-header, .modal-footer {
    border: none !important;
}
.modal-content {
    padding: 10px;
}
.modal-title {
    color: black;
}
.modal-footer {
    margin-top: -5px;
}
.btn-close {
    font-size: 13px;
}
