<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h5 class="modal-title">Da li ste sigurni da želite nastaviti</h5>
                <button type="button" class="btn-close" (click)="closeModalHandler()"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onSubmitHandler()">Da</button>
                <button type="button" class="btn btn-secondary" (click)="closeModalHandler()">Ne</button>
            </div>
        </div>
    </div>
</div>
