<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">{{ 'change_password' | translate }}</h1>
                <button type="button" class="btn-close" (click)="onCloseHandler()"></button>
            </div>
            <form class="form" #form="ngForm">
                <div class="modal-body">
                    <input type="password" class="form-control" placeholder="{{ 'old_password' | translate }}" name="staraSifra" ngModel>
                    <input type="password" class="form-control" placeholder="{{ 'new_password' | translate }}" name="novaSifra" ngModel>
                    <input type="password" class="form-control" placeholder="{{ 'confirm_new_password' | translate }}" name="potvrdiNovuSifru" ngModel>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="onCloseHandler()">{{ 'cancel' | translate }}</button>
                    <button class="btn btn-primary" (click)="changePassword(form.value)">{{ 'confirm' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
