.main {
    display: flex;
    justify-content: space-between;
}
.items {
    width: 60%;
}
.card-details {
    width: 37%;
    height: 550px;
    background-color: #6464b4;
}
.card-align, .card-column {
    display: flex;
    justify-content: space-between;
}
.card-img {
    width: 100px;
    aspect-ratio: 4/3;
}
.price-button {
    justify-content: end;
}

@media (max-width: 991px) {
    .main {
        flex-direction: column;
    }
    .items, .card-details {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .card-img {
        width: 30%;
    }
    .card-align {
        flex-direction: column;
    }
}