<div class="container">
  <div class="my-4 main">
    <div class="items">
      <h4>Vaša korpa</h4>
      <p>Trenutno imate X lijekova za poručiti</p>
      <hr>
      <div class="card border-0" *ngFor="let i of [0,1,2,3,4]">
        <div class="card-body">
          <div class="card-align">
            <div class="card-column align-items-center">
              <img src="./../../../assets/img/no-image-avabliable.jpg" class="card-img">
              <div class="ms-4">
                <h5>Naziv Lijeka</h5>
                <p class="small mb-0">Opis lijeka. Opis lijeka. Opis lijeka. Opis lijeka. Opis lijeka. Opis lijeka. Opis lijeka. Opis lijeka.</p>
              </div>
            </div>
            <div class="card-column align-items-center justify-content-end">
              <div>
                <h5 class="mb-0 me-3">10KM</h5>
              </div>
              <div>
                <button class="btn btn-primary">Ukloni</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-details card text-white mt-4 shadow-lg"> 
      <form>
        <div class="card-body">
          <h5>Detalji narudžbe</h5>
          <hr>
          <div class="form-group mb-2">
            <label>Ime i prezime:</label>
            <input type="text" class="form-control shadow-sm">
          </div>
          <div class="form-group mb-2">
            <label>Telefonski broj:</label>
            <input type="text" class="form-control shadow-sm">
          </div>
          <div class="form-group mb-2">
            <label>Grad:</label>
            <input type="text" class="form-control shadow-sm">
          </div>
          <div class="form-group mb-2">
            <label>Adresa stanovanja:</label>
            <input type="text" class="form-control shadow-sm">
          </div>
          <hr>
          <div class="card-column">
            <p class="mb-2">Ukupna cijena lijekova:</p>
            <p class="mb-2">10KM</p>
          </div>
          <div class="card-column">
            <p class="mb-2">Dostava:</p>
            <p class="mb-2">2KM</p>
          </div>
          <div class="card-column">
            <p class="mb-2">Ukupno cijena lijekova i dostave:</p>
            <p class="mb-2">12KM</p>
          </div>
          <button class="btn btn-primary btn-lg btn-block mt-2">Potvrdi narudžbu</button>
        </div>
      </form>
    </div>
  </div>
</div>