.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.items {
    width: 60%;
}
.details {
    width: 37%;
    height: 565px;
}
.details-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .main {
        flex-direction: column;
    }
    .items, .details {
        width: 100%;
    }
}