body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,"Helvetica Neue", sans-serif;
}
.shadow, .shadow-sm, .shadow-lg {
    border: none;
}
.btn, .login, .form-control, .form-select, .form-check-input, .card, .card-img-top, .card-body, .alert, .modal-content {
    border-radius: 3px;
}
.btn {
    font-size: 17px;
}
.btn:active {
    border-color: transparent !important;
}
.btn-block {
    width: 100%;
}
.btn-primary, .btn-secondary, .btn-danger {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .075) !important;
    font-weight: 500;
    font-size: 16px;
    padding: 6px 30px;
    margin-top: 1px;
}
.btn-primary {
    background-color: #3d8af7;
    border: 1px solid #3d8af7;
}
.btn-primary:hover {
    background-color: #1e88e5;
    border: 1px solid #1e88e5;
}
.btn-primary:active {
    background-color: #1976d2 !important;
    border: 1px solid #1976d2 !important;
}
.btn-secondary {
    background-color: #ebebeb !important;
    border: 1px solid #ebebeb !important;
    color: black !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .075) !important;
}
.btn-secondary:hover {
    background-color: #dfdfdf !important;
    border: 1px solid #dfdfdf !important;
}
.btn-secondary:active {
    background-color: #d0d0d0 !important;
    border: 1px solid #d0d0d0 !important;
}
.bg-primary {
    background-color: #6464b4 !important;
    color: white;
}
