<div class="container">
    <div class="mt-4 row d-flex flex-row justify-content-around">
        <img class="thumbnail rounded shadow mx-4 col-8" src="./../../../assets/img/no-image-avabliable.jpg" alt="Slika">
        <div class="mx-4 mt-2 col">
            <form #loginForm="ngForm" (submit)="formSubmit(loginForm.value)">
                <input type="file" class="form-control mt-2" name="slijaLijeka" ngModel>
                <input class="form-control mt-2" placeholder="Naziv lijeka" name="nazivLijeka" [(ngModel)]="res.nazivLijeka" autocomplete="off">
                <textarea class="form-control mt-2" rows="3" placeholder="Opis lijeka" name="opisLijeka" [(ngModel)]="res.opisLijeka"></textarea>
                <div class="inline-input-group mt-2">
                    <label>Cijena Lijeka (KM): </label>
                    <input type="number" class="form-control inline-input" name="cijenaLijeka" [(ngModel)]="res.cijenaLijeka">
                    <label>Količina: </label>
                    <input type="number" class="form-control inline-input" name="kolicina" [(ngModel)]="res.kolicina">
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" id="checkbox" name="zahtijevaRecept" [(ngModel)]="res.zahtijevaRecept">
                    <label class="form-check-label" for="checkbox">Zahtijeva recept?</label>
                </div>
                <button class="btn btn-primary btn-half-block mt-2">Potvrdi</button>
                <button type="button" (click)="showModal = true" class="btn btn-danger btn-half-block mt-2">Izbriši Lijek</button>
            </form>
        </div>
    </div>
    <iframe
        class="container location my-5"
        height="300px"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?key=API_KEY
        &q=Space+Needle,Seattle+WA">
    </iframe>
    <app-modal
        *ngIf="showModal"
        (closeModal)="showModal = false"
        (onSubmit)="deleteMedicine()"
    ></app-modal>
</div>