<div class="container">
    <div class="my-5 row d-flex flex-row justify-content-around">
        <img class="thumbnail rounded shadow mx-4 col-8" src="./../../../assets/img/no-image-avabliable.jpg" alt="Slika">
        <div class="content mx-4 col">
            <form #loginForm="ngForm" (submit)="EditPharmacy(loginForm.value)">
                <div class="mx-1">
                    <div class="form-group">
                        <span>Slika:</span>
                        <input type="file" class="form-control" name="slika" ngModel>
                    </div>
                    <div class="form-group">
                        <span>Naziv:</span>
                        <input class="form-control" placeholder="Naziv" name="naziv" autocomplete="off" spellcheck="false" [(ngModel)]="res.naziv">
                    </div>
                    <div class="form-group">
                        <span>Grad:</span>
                        <select class="form-select" name="grad" autocomplete="off" [(ngModel)]="res.grad">
                            <option *ngFor="let i of gradovi" [selected]="i.naziv == res.grad">{{ i.naziv }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span>Adresa:</span>
                        <input class="form-control" placeholder="Adresa" name="adresa" autocomplete="off" spellcheck="false" [(ngModel)]="res.adresa">
                    </div>
                    <div class="form-group">
                        <span>Email:</span>
                        <input type="email" class="form-control" placeholder="Email" name="mailAdresa"autocomplete="off" spellcheck="false" [(ngModel)]="res.mailAdresa">
                    </div>
                    <div class="form-group">
                        <span>Broj Telefona:</span>
                        <input class="form-control" placeholder="Broj Telefona" name="brojTelefona" autocomplete="off" spellcheck="false" [(ngModel)]="res.brojTelefona">
                    </div>
                    <div class="form-group" *ngIf="res.tipUstanove == 'apoteka'">
                        <span>Cijena dostave:</span>
                        <input type="number" class="form-control" placeholder="Cijena dostave" name="cijenaDostave" autocomplete="off" spellcheck="false" [(ngModel)]="res.cijenaDostave">
                    </div>
                    <div class="form-group">
                        <span>Opis:</span>
                        <textarea class="form-control" rows="3" placeholder="Opis" name="opis" autocomplete="false" spellcheck="false" [(ngModel)]="res.opis"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary btn-block mt-2">Potvrdi</button>
            </form>
        </div>
    </div>
</div>
