<div class="container">
    <div class="my-5 row d-flex flex-row justify-content-around">
        <img *ngIf="!image" class="thumbnail rounded shadow mx-4 col-8" [src]="res.slika || './../../../assets/img/no-image-avabliable.jpg'" alt="{{ 'image' | translate }}">
        <img *ngIf="image" class="thumbnail rounded shadow mx-4 col-8" [src]="image" alt="{{ 'image' | translate }}">
        <div class="content mx-4 col">
            <form #loginForm="ngForm">
                <div class="mx-1">
                    <div class="form-group">
                        <span>{{ 'image' | translate }}:</span>
                        <input type="file" id="imageInput" class="form-control" (change)="onFileSelected($event)">
                    </div>
                    <div class="form-group">
                        <span>{{ 'name' | translate }}:</span>
                        <input class="form-control" placeholder="{{ 'name' | translate }}" name="naziv" autocomplete="off" spellcheck="false" [(ngModel)]="res.naziv">
                    </div>
                    <div class="form-group">
                        <span>{{ 'city' | translate }}:</span>
                        <select class="form-select" name="grad" autocomplete="off" [(ngModel)]="res.grad">
                            <option *ngFor="let i of gradovi" [selected]="i.naziv == res.grad">{{ i.naziv }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span>{{ 'address' | translate }}:</span>
                        <input class="form-control" placeholder="{{ 'address' | translate }}" name="adresa" autocomplete="off" spellcheck="false" [(ngModel)]="res.adresa">
                    </div>
                    <div class="form-group">
                        <span>{{ 'email' | translate }}:</span>
                        <input type="email" class="form-control" placeholder="{{ 'email' | translate }}" name="mailAdresa" autocomplete="off" spellcheck="false" [(ngModel)]="res.mailAdresa">
                    </div>
                    <div class="form-group">
                        <span>{{ 'phone_number' | translate }}:</span>
                        <input class="form-control" placeholder="{{ 'phone_number' | translate }}" name="brojTelefona" autocomplete="off" spellcheck="false" [(ngModel)]="res.brojTelefona">
                    </div>
                    <div class="form-group" *ngIf="res.tipUstanove == 'apoteka'">
                        <span>{{ 'delivery_price' | translate }} (KM):</span>
                        <input type="number" class="form-control" placeholder="{{ 'delivery_price' | translate }} (KM)" name="cijenaDostave" autocomplete="off" spellcheck="false" [(ngModel)]="res.cijenaDostave">
                    </div>
                    <div class="form-group">
                        <span>{{ 'description' | translate }}:</span>
                        <textarea class="form-control" rows="3" placeholder="{{ 'description' | translate }}" name="opis" autocomplete="false" spellcheck="false" [(ngModel)]="res.opis"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary btn-block mt-2" (click)="showModal = true">{{ 'confirm' | translate }}</button>
            </form>
        </div>
    </div>
</div>
<app-modal
    *ngIf="showModal"
    (closeModal)="showModal = false"
    (onSubmit)="EditMedicalInstitution(loginForm.value)"
></app-modal>
