<app-filter
    placeholder1="{{ 'doctor_name' | translate }}"
    placeholder2="{{ 'specialization_name' | translate }}"
    (searchOptions)="getSearchResults($any($event))"
></app-filter>
<div class="container cards">
    <app-card *ngFor="let i of res"
        [img]="i.slika || './../../../assets/img/no-image-avabliable.jpg'"
        [title]="i.imePrezime"
        [description]="i.specijalizacija"
        btn_text1="{{ 'appointments' | translate }}"
        [btn_link1]="'/kontakt/' + i.ljekarId"
        btn_text2="{{ 'details' | translate }}"
        [btn_link2]="'/ljekar/' + i.ljekarId"
    ></app-card>
</div>
