<app-filter
    input_text1="Naziv zdravstvene institucije"
    input_text2="Naziv grada"
    input_link1=""
    input_link2=""
></app-filter>
<div class="container cards">
    <app-card *ngFor="let i of [0,1,2,3,4,5]"
        img="./../../../assets/img/no-image-avabliable.jpg"
        title="Naziv zdravstvene institucije"
        description="Neki opis zdravstvene institucije. Neki opis zdravstvene institucije. Neki opis zdravstvene institucije."
        btn_text="Pogledaj detalje"
        btn_link="/detalji"
    ></app-card>
</div>
