.main, .card-align {
    display: flex;
    justify-content: space-between;
}
.items {
    width: 47%;
}
.card-align {
    align-items: center;
}

@media (max-width: 991px) {
    .main {
        flex-direction: column;
        gap: 40px;
    }
    .items {
        width: 100%;
    }
}
