<div class="container">
    <div class="my-5 main">
        <div class="items">
            <h4>{{ 'unread_messages' | translate }}</h4>
            <p>{{ 'unread_messages_user_count' | translate: { count: countMessages('neprocitana') } }}</p>
            <hr>
            <div *ngFor="let i of res">
                <div class="card border-0" *ngIf="i.neprocitanePoruke != 0">
                    <div class="card-body pt-2">
                        <div class="card-align">
                            <div class="card-column align-items-center justify-content-start">
                                <div class="ms-1">
                                    <h5>{{i.imePrezime}}</h5>
                                    <p class="small mb-0">{{ 'unread_messages_count' | translate: { count: i.neprocitanePoruke } }}</p>
                                </div>
                            </div>
                            <div class="card-column align-items-center justify-content-end">
                                <a class="btn btn-primary" [routerLink]="'/poruke/' + i.posiljaocId">{{ 'contact' | translate }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="items">
            <h4>{{ 'read_messages' | translate }}</h4>
            <p>{{ 'read_messages_user_count' | translate: { count: countMessages('procitana') } }}</p>
            <hr>
            <div *ngFor="let i of res">
                <div class="card border-0" *ngIf="i.neprocitanePoruke == 0">
                    <div class="card-body pt-2">
                        <div class="card-align">
                            <div class="card-column align-items-center justify-content-start">
                                <div class="ms-1">
                                    <h5>{{i.imePrezime}}</h5>
                                    <p class="small mb-0">{{ 'read_messages_count' | translate: { count: i.procitanePoruke } }}</p>
                                </div>
                            </div>
                            <div class="card-column align-items-center justify-content-end">
                                <a class="btn btn-primary" [routerLink]="'/poruke/' + i.posiljaocId">{{ 'contact' | translate }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
