<div class="container">
  <div class="content my-5">
    <form #form="ngForm">
      <div class="mx-1">
        <div class="form-group">
          <span>{{ 'first_name' | translate }}:</span>
          <input class="form-control" placeholder="{{ 'first_name' | translate }}" name="ime" autocomplete="off" spellcheck="false" [(ngModel)]="res.ime">
        </div>
        <div class="form-group">
          <span>{{ 'last_name' | translate }}:</span>
          <input class="form-control" placeholder="{{ 'last_name' | translate }}" name="prezime" autocomplete="off" spellcheck="false" [(ngModel)]="res.prezime">
        </div>
        <div class="form-group">
          <span>{{ 'city' | translate }}:</span>
          <select class="form-select" name="grad" autocomplete="off" required [(ngModel)]="res.grad">
            <option *ngFor="let i of gradovi" [selected]="i.naziv == res.grad">{{ i.naziv }}</option>
          </select>
        </div>
        <div class="form-group">
          <span>{{ 'address' | translate }}:</span>
          <input class="form-control" placeholder="{{ 'address' | translate }}" name="adresa" autocomplete="off" spellcheck="false" [(ngModel)]="res.adresa">
        </div>
        <div class="form-group">
          <span>{{ 'email' | translate }}:</span>
          <input type="email" class="form-control" placeholder="{{ 'email' | translate }}" name="mailAdresa" autocomplete="off" spellcheck="false" [(ngModel)]="res.mailAdresa">
        </div>
        <div class="form-group">
          <span>{{ 'phone_number' | translate }}:</span>
          <input class="form-control" placeholder="{{ 'phone_number' | translate }}" name="brojTelefona" autocomplete="off" spellcheck="false" [(ngModel)]="res.brojTelefona">
        </div>
      </div>
      <button class="btn btn-primary btn-block mt-2" (click)="showModal = true">{{ 'confirm' | translate }}</button>
    </form>
    <div class="btn btn-link change-password-link" (click)="showChangePassword = true">{{ 'change_password' | translate }}</div>
  </div>
</div>
<app-modal
  *ngIf="showModal"
  (onClose)="showModal = false"
  (onSubmit)="EditUser(form.value)"
></app-modal>
<app-change-password
  *ngIf="showChangePassword"
  (onClose)="showChangePassword = false"
></app-change-password>
