<div class="container">
  <div class="my-5 main">
    <div class="items">
      <h4>{{ 'active_orders' | translate }}</h4>
      <p>{{ 'active_orders_count' | translate: { countOrders: countOrders('aktivno') } }}</p>
      <hr>
      <div *ngFor="let i of res">
        <div class="card border-0" *ngIf="i.status == 'aktivno'">
          <div class="card-body pt-2">
            <div class="card-align">
              <div class="card-column align-items-center justify-content-start">
                <div class="ms-1">
                  <h5>{{i.imePrezime}}</h5>
                  <p class="small mb-0">{{ 'user_ordered_medications' | translate: { countMedications: i.brojLijekova } }}</p>
                </div>
              </div>
              <div class="card-column align-items-center justify-content-end">
                <a class="btn btn-primary" [routerLink]="'/apoteka/narudzbe/' + i.redniBroj + '/aktivno'">{{ 'view_details' | translate }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="items">
      <h4>{{ 'delivered_orders' | translate }}</h4>
      <p>{{ 'delivered_orders_count' | translate: { countOrders: countOrders('isporuceno') } }}</p>
      <hr>
      <div *ngFor="let i of res">
        <div class="card border-0" *ngIf="i.status == 'isporuceno'">
          <div class="card-body pt-2">
            <div class="card-align">
              <div class="card-column align-items-center justify-content-start">
                <div class="ms-1">
                  <h5>{{i.imePrezime}}</h5>
                  <p class="small mb-0">{{ 'user_ordered_medications' | translate: { countMedications: i.brojLijekova } }}</p>
                </div>
              </div>
              <div class="card-column align-items-center justify-content-end">
                <a class="btn btn-primary" [routerLink]="'/apoteka/narudzbe/' + i.redniBroj + '/isporuceno'">{{ 'view_details' | translate }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
