<app-filter
    placeholder1="Naziv zdravstvene institucije"
    placeholder2="Naziv grada"
    link2="/gradovi/search/"
    (searchOptions)="getSearchResults($any($event))"
></app-filter>
<div class="container cards">
    <app-card *ngFor="let i of res"
        img="./../../../assets/img/no-image-avabliable.jpg"
        [title]="i.naziv"
        [description]="i.grad"
        [btn_text1]="(i.tipUstanove == 'apoteka') ? ('Lijekovi') : ('Ljekari')"
        [btn_link1]="(i.tipUstanove == 'apoteka') ? ('/lijekovi/' + i.ustanovaId) : ('/ljekari/' + i.ustanovaId)"
        btn_text2="Detalji"
        [btn_link2]="'/pretrazi/' + i.ustanovaId"
    ></app-card>
</div>
