<div class="container">
    <div class="my-4 p-4 main shadow-sm">
        <form>
            <div class="messages">
                <div *ngFor="let i of [0,1,2,3,4]">
                    <div>
                        <div [class]="'d-flex ' + (i % 2 == 1 ? 'justify-content-end' : 'justify-content-start')">
                            <div [class]="'message shadow-sm ' + (i % 2 == 1 ? 'right' : 'left')">Ovo je poruka. Ovo je poruka. Ovo je poruka. Ovo je poruka. Ovo je poruka. Ovo je poruka. Ovo je poruka.</div>
                        </div>
                    </div>
                    <div [class]="'check-icon mx-1 d-flex ' + (i % 2 == 1 ? 'justify-content-end' : 'justify-content-start')">
                        <i class="bi bi-check-all"></i>
                    </div>
                </div>
            </div>
            <div class="message-input mt-2">
                <input type="text" class="form-control shadow-sm" placeholder="{{ 'message' | translate }}" autocomplete="off" spellcheck="false">
                <button class="btn btn-primary message-button">
                    <i class="bi bi-arrow-up"></i>
                </button>
            </div>
        </form>
    </div>
</div>
