:host {
    text-align: center;
}
.input-result {
    position: relative;
    display: inline-block;
    width: 40%;
    margin: 0 2px;
}
.list-group {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    list-style: none;
    background-color: white;
    border-radius: 3px;
}
.filter-item {
    cursor: pointer;
    border-radius: 3px;
}
.filter-item:hover {
    background-color: #ebebeb;
}
.btn-filter {
    display: block;
    width: calc(80% + 4px);
    margin-left: calc(10% - 2px);
}
