<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Vaši termini</h3>
      <hr class="section-divider">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="appointment-card" *ngFor="let appointment of appointments">
        <div class="appointment-info">
          <h5>{{ appointment.name }}</h5>
          <p>{{ appointment.date }}</p>
        </div>
        <div class="appointment-actions">
          <button class="btn btn-link">Informacije vezane za termin</button>
          <button class="btn btn-primary">Karton pacijenta</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="patient-details">
        <h4 class="text-center font-weight-bold">Naziv pacijenta</h4>
        <div *ngFor="let record of patientRecords" class="yearly-record">
          <h5>{{ record.year }}</h5>
          <hr class="year-divider">
          <p *ngFor="let detail of record.details">{{ detail }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
